.body {
    background-color: #EFEFEF;
}

#title {
	color: #A9A9A9;
	margin-top: 100px;
}

#searchInput {
	border-radius: 10px;
	margin-top: 60px;
	display: none;
}

#searchIcon {
	color: #FF3B3F;
	margin-top: 50px;
	display: block;
	text-align: center;
	cursor: pointer; 
	cursor: hand;
}

.credits {
	margin-top: 40px;
}

.buttons {
	display: none;
	margin-top: 15px;
	text-align: center;
}

#btn2 {
	margin-top: 10px;
}

#randomLink {
	text-decoration: none;
}

.panel-body {
	background-color: #CAEBF2;
	opacity: 0.7;
	text-decoration: none;
}

.panel-body:hover {
	opacity: 1.0;
	cursor: pointer; 
	cursor: hand;
}

#url0, #url1, #url2, #url3, #url4, #url5, #url6, #url7, #url8, #url9 {
	text-decoration: none;
	color: #000;
}

.panel-group {
	margin-top: 30px;
	display: none;
}