body {
    background-color: #EFEFEF;
}

h1 {
	color: #A9A9A9;
	margin-top: 200px;
}

#searchInput {
	border-radius: 10px;
	margin-top: 60px;
	display: none;
}

#searchIcon {
	color: #FF3B3F;
	margin-top: 50px;
	display: block;
	text-align: center;
	cursor: pointer; 
	cursor: hand;
}
.credits {
	margin-top: 40px;
}

.buttons {
	display: none;
	margin-top: 15px;
	text-align: center;
}

#btn2 {
	margin-top: 10px;
}

#randomLink {
	text-decoration: none;
}